body{
    background-color: #ddd;
}
#mainPage {
    padding: 10px 20px 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
}
header {
    padding-left: 25px;
    color: #666;
}
.tab-pane{
    padding: 10px;
}
.modal-dialog{
    width: 500px;
}
nav{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 15px 50px;
    border-radius: 25px;
    text-align: center;
    display: block;
}
nav button{
    margin-left: 7px;
}
section{
    padding: 20px;
}
/*#selectPerson{*/
    /*width: 250px;*/
    /*display: inline-block;*/
/*}*/
/*#searchPerson{*/
    /*width: 350px;*/
    /*display: inline-block;*/
/*}*/
#userEditSaveBtn{
    padding-left: 30px;
    padding-right: 30px;
}
aside{
    padding: 20px;
}
.tab-pane{
    border: 1px solid #ddd;
    border-top: none;
    min-height: 300px;
    padding: 20px 40px;
}
.light-shadow{
    -webkit-box-shadow: 4px 10px 10px 0px rgba(117,117,117,0.21);
    -moz-box-shadow: 4px 10px 10px 0px rgba(117,117,117,0.21);
    box-shadow: 4px 10px 10px 0px rgba(117,117,117,0.21);
}

#addFriend{
    width: 150px;
    display: inline-block;
}
.friend-unfriend{
    color: gray; !important
    display: inline-block;
    margin-left: 10px;
}
.user-info-table{
    width: 270px;
    margin-left: 30px;
}
.user-name-heading{
    margin-left: 30px;
}